body {
	height: 100%;
	margin: 0px;
}

#plot3d {
	width: 100%; 
	background: white; 
	display: inline-block;
}

#plot_area {
	display: inline-block;
	width: 80%;
	height: 100%;
}

#ui {
	vertical-align: top;
	display: inline-block;
	width: 20%;
	background: #909080;
	padding: 1% 0%;
	border-radius: 8px; 
	color: white;
}

#logo {
	font-family: 'Cabin', sans-serif;
	color: #909080;
	background: white;
	font-size: 3em;
	padding: 0px 0px;
	text-align:center;
}

#options {
}

#info {
}

select {
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	border: none;
	border-radius: 3px;
}

input.num {
	display: inline-block;
	width: 3em;
	border: none;
	border-radius: 3px;
}

.grafar_ui_subpanel {
	padding: 3% 0%;
}

.grafar_ui_label {
	padding-left: 8%;
}
